@{
    ViewData["Title"]= "Show";

    Product product = ViewBag.product1 as Product;
    List<Product> products = ViewBag.productList as List<Product>;
}
<h1>@ViewBag.time</h1>
<h1>@ViewBag.callBack</h1>
<h1>@ViewBag.product1</h1>
<h1>@ViewBag.productList</h1>

